@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary-default: #ff343a;
  --color-primary-hover: #e62f34;
  --color-primary-active: #cc2a2e;
  --color-primary-disabled: #f5b5b7;
  --font-sans: 'Manrope', sans-serif;
}
