@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Manrope', sans-serif;

  --color-brand: #ff343a;
  --color-brand-dark: #e62f34;
  --color-brand-darker: #8f1f27;
  --color-brand-muted: #f5b5b7;

  --color-secondary-dark: var(--color-gray-900);
  --color-secondary: var(--color-gray-800);
  --color-secondary-medium : var(--color-gray-700);
  --color-secondary-light: var(--color-gray-500);
  --color-secondary-outline: var(--color-gray-200);
}
